# Godot 4+ specific ignores
.godot/
Builds/
.vs/ProjectEvaluation/endless-survival-project.projects.v7.bin
.vs/ProjectEvaluation/endless-survival-project.metadata.v7.bin
.vs/ENDLESS-SURVIVAL-PROJECT/v17/.suo
.vs/ENDLESS-SURVIVAL-PROJECT/v17/.futdcache.v2
.vs/ENDLESS-SURVIVAL-PROJECT/FileContentIndex/049b0fd3-2abc-48cb-ab17-3f816f5e546f.vsidx
.vs/ENDLESS-SURVIVAL-PROJECT/FileContentIndex/3de70679-8763-47d0-877f-f18d785c6fd5.vsidx
.vs/ENDLESS-SURVIVAL-PROJECT/FileContentIndex/55c1b68c-b067-406d-975a-2720d50759a9.vsidx
.vs/ENDLESS-SURVIVAL-PROJECT/FileContentIndex/bd46ec58-cf01-4e9e-a649-d5df64f15280.vsidx
.vs/ENDLESS-SURVIVAL-PROJECT/FileContentIndex/e43a6771-48df-433c-bbb7-7745d1f82724.vsidx
*.vsidx
.vs/ENDLESS-SURVIVAL-PROJECT/v17/.suo
