# Godot 4+ specific ignores
.godot/
Builds/
.vs/ProjectEvaluation/endless-survival-project.projects.v7.bin
.vs/ProjectEvaluation/endless-survival-project.metadata.v7.bin
.vs/ENDLESS-SURVIVAL-PROJECT/v17/.suo
.vs/ENDLESS-SURVIVAL-PROJECT/v17/.futdcache.v2
